<h1>Mix Food Listings</h1>


<div id="mixfoddlisting" class="row"  style="padding-left:3%; ">
    <div class="card" style="width: 18rem;margin-left:9px;margin-top: 9px;" *ngFor="let data of mixFoodData">
        <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fruits" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">SoyaBean Chill</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Place Order</a>
        </div>
      </div>
</div>
